.feature {
	&__icon {
		text-align: center;
		width: 55px;
		margin: 0 auto 23px auto;
		height: 55px;
		position: relative;

		&__larger {
			width: 60px;
			height: 60px;
		}

		svg {
			text {
				font-family: FontAwesome;
			}
		}
	}
	&__name {
		font-family: "Lato", sans-serif;
		@include font(16px,#282828,700,1);
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 10px;

		&_no-margin {
			margin-bottom: 0;
		}
		&_no-upper {
			text-transform: none;
		}
	}
	&__description {
		font-family: "Lato", sans-serif;
		@include font(16px,#7e7e7e,300,1.4);
		text-align: center;
	}
}

.features {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-bottom: 90px;

	@media screen and (max-width: 480px) {
		justify-content: center;
	}

	.feature {
		flex: 1 0 auto;
		max-width: 220px;

		@media screen and (max-width: 980px) {
			margin-bottom: 40px;
		}
	}
}

#features {
	overflow: hidden;
}