footer {
	position: relative;
	background: #2a2a2a;
}

.footer {
	display: flex;
	padding-bottom: 34px;

	@media screen and (max-width: 1220px) {
		flex-wrap: wrap;
	}

	&__block {
		box-sizing: border-box;
		padding-top: 20px;
		padding-bottom: 20px;

		&:not(:last-child){
			border-right: 1px solid #393939;

			@media screen and (max-width: 1220px) {
				border-right: none;
			}
		}
		&_equal {
			flex: auto;
		}
		&_bigger {
			flex: 0 0 500px;
			display: flex;
			justify-content: center;
			align-items: center;

			@media screen and (max-width: 980px) {
				flex-shrink: 1;
				justify-content: flex-start;
			}
		}
		&_left {
			padding-right: 84px;

			@media screen and (max-width: 980px) {
				padding-right: 0;
			}
		}
		&_right {
			padding-left: 84px;

			@media screen and (max-width: 980px) {
				padding-left: 0;
			}
		}
	}

	&__text {
		font-family: "Lato", sans-serif;
		@include font(15px,#686868,300,1.4);

		a {
			font-family: "Lato Semibold", sans-serif;
		}
	}
}