.shadow {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.83);
		z-index: 1;
	}

	&_index-10 {
		&:before {
			z-index: 10;
		}
	}

	&_lighter {
		&:before {
			background: rgba(0, 0, 0, 0.75);
		}
	}

	&_darker {
		&:before {
			background: rgba(13, 13, 13, 0.7);
		}
	}
	&_height-50 {
		&:before {
			height: 50%;
		}
	}
}